.transactionHistory {
  text-align: center;
}
.tHead {
  background-color: turquoise;
  color: white;
  font-size: 24px;
}
.th {
  padding-inline: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.tbody {
  font-size: 22px;
}
.tr:nth-child(n) {
  background-color: white;
}
.tr:nth-child(2n) {
  background-color: rgb(223, 223, 223);
}
